<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.model.dao.mybatis.mappers.ElementMapper">
    <insert id="registerElement">
        INSERT INTO
            "ELEMENTS" (reference, "ELEMENT_TYPES_id")
        VALUES (
                   #{reference},
                   #{typeId}
               );
    </insert>

    <select id="getIdByReference" resultType="long">
        SELECT
            id
        FROM
            "ELEMENTS"
        WHERE
            reference = #{reference};
    </select>

    <select id="getElementById" resultMap="ElementResultMap">
        SELECT
            e.id,
            e.reference,
            e.available,
            e.discarded,
            et.id AS "ELEMENT_TYPES_id",
            et."name" AS "ELEMENT_TYPES_name"
        FROM
            "ELEMENTS" AS e
                LEFT JOIN
            "ELEMENT_TYPES" AS et ON et.id = e."ELEMENT_TYPES_id"
        WHERE
            e.id = #{id};
    </select>

    <select id="getElementByReference" resultMap="ElementResultMap">
        SELECT
            e.id,
            e.reference,
            e.available,
            e.discarded,
            et.id AS "ELEMENT_TYPES_id",
            et."name" AS "ELEMENT_TYPES_name"
        FROM
            "ELEMENTS" AS e
                LEFT JOIN
            "ELEMENT_TYPES" AS et ON et.id = e."ELEMENT_TYPES_id"
        WHERE
            e.reference = #{reference};
    </select>

    <select id="getActiveElements" resultMap="ElementResultMap">
        SELECT
            e.id,
            e.reference,
            e.available,
            e.discarded,
            et.id AS "ELEMENT_TYPES_id",
            et."name" AS "ELEMENT_TYPES_name"
        FROM
            "ELEMENTS" AS e
                LEFT JOIN
            "ELEMENT_TYPES" AS et ON et.id = e."ELEMENT_TYPES_id"
        WHERE
            e.discarded = FALSE
        ORDER BY
            e.id
    </select>

    <update id="setAvailableById">
        UPDATE
            "ELEMENTS"
        SET
            available = #{available}
        WHERE
            id = #{id}
    </update>

    <update id="setDiscardedById">
        UPDATE
            "ELEMENTS"
        SET
            discarded = #{discarded}
        WHERE
            id = #{id}
    </update>

    <resultMap id="ElementResultMap" type="Element">
        <id column="id" property="id" />
        <result column="reference" property="reference" />
        <result column="available" property="available" />
        <result column="discarded" property="discarded" />
        <association property="type" javaType="ElementType" resultMap="edu.eci.cvds.model.dao.mybatis.mappers.ElementTypeMapper.ElementTypeResultMap" columnPrefix="ELEMENT_TYPES_" />
    </resultMap>
</mapper>
